In [56]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rache\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rache\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rache\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\rache\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\rache\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd

In [2]:
counties = {
        'Allegany' : '001',
        'Anne_Arundel' : '003',
        'Baltimore' : '005',
        'Baltimore_City' : '510',
        'Calvert' : '009',
        'Caroline' : '011',
        'Carroll' : '013',
        'Cecil' : '015',
        'Charles' : '017',
        'Dorchester' : '019',
        'Frederick' : '021',
        'Garrett' : '023',
        'Harford' : '025',
        'Howard' : '027',
        'Kent' : '029',
        'Montgomery' : '031',
        'Prince_Georges' : '033',
        'Queen_Annes' : '035',
        'St._Marys' : '037',
        'Somerset' : '039',
        'Talbot' : '041',
        'Washington' : '043',
        'Wicomico' : '045',
        'Worcester' : '047'
        }

In [3]:
def get_md_data(year, counties = counties):
    df = pd.DataFrame()
    for county,fips in counties.items():
        url = ('https://elections.maryland.gov/elections/{year}/election_data/' +
               '{county}_County_{year}_General.csv').format(county = county, year = year)
        temp_df = pd.read_csv(url, encoding = 'latin-1')
        temp_df['county'] = fips
        df = pd.concat([df,temp_df])
    return df

In [15]:
# df18 = get_md_data(year = '2018')
# df16 = get_md_data(year = '2016')
# df14 = get_md_data(year = '2014')
# df12 = get_md_data(year = '2012')

In [16]:
df12 = df12[df12['Candidate Name'].str.contains('Obama')|
            df12['Candidate Name'].str.contains('Romney')|
           df12['Candidate Name'].str.contains('Cardin')|
            df12['Candidate Name'].str.contains('Bongino')]

In [17]:
df12 = df12.replace('#NULL#', 0)

In [18]:
df12['Early Votes'] = df12['Early Votes'].astype(int)
df12['Absentees Votes'] = df12['Absentees Votes'].astype(int)
df12['Provisional Votes'] = df12['Provisional Votes'].astype(int)
df12['2nd Absentees Votes'] = df12['2nd Absentees Votes'].astype(int)

In [19]:
df12['Unprecincted'] = (df12['Early Votes'] + df12['Absentees Votes'] + 
    df12['Provisional Votes'] + df12['2nd Absentees Votes'])

In [20]:
df12.head()

,Candidate Name,Party,Office Name,Office District,Winner,Write-In?,Early Votes,Early Votes Against,Election Night Votes,Election Night Votes Against,Absentees Votes,Absentees Votes Against,Provisional Votes,Provisional Votes Against,2nd Absentees Votes,2nd Absentees Votes Against,Total Votes,Total Votes Against,county,Unprecincted
0,Barack Obama,DEM,President - Vice Pres,NaN,Y,NaN,1056,NaN,7945,NaN,500,NaN,264,NaN,40,NaN,9805,NaN,001,1860
1,Mitt Romney,REP,President - Vice Pres,NaN,NaN,NaN,1557,NaN,16601,NaN,783,NaN,246,NaN,43,NaN,19230,NaN,001,2629
37,Ben Cardin,DEM,U.S. Senator,NaN,Y,NaN,1075,NaN,7635,NaN,512,NaN,246,NaN,39,NaN,9507,NaN,001,1872
38,Daniel John Bongino,REP,U.S. Senator,NaN,NaN,NaN,1215,NaN,12595,NaN,626,NaN,200,NaN,31,NaN,14667,NaN,001,2072
0,Barack Obama,DEM,President - Vice Pres,NaN,Y,NaN,22192,NaN,93934,NaN,5205,NaN,4003,NaN,1301,NaN,126635,NaN,003,32701

In [21]:
df12 = df12.pivot(index = 'county', columns = 'Candidate Name', values = 'Unprecincted')

In [22]:
df12.index

Index(['001', '003', '005', '009', '011', '013', '015', '017', '019', '021',
       '023', '025', '027', '029', '031', '033', '035', '037', '039', '041',
       '043', '045', '047', '510'],
      dtype='object', name='county')

In [23]:
df12 = df12.fillna(0)

In [24]:
cand_mapping12 = {
        'Ben Cardin' : 'SEN12D',
        'Daniel John Bongino' : 'SEN12R',
        'Barack Obama': 'PRES12D',
        'Mitt Romney': 'PRES12R',
        }

In [25]:
df12 = df12.rename(columns = cand_mapping12)

In [26]:
df12.head()

Candidate Name  PRES12D  SEN12D  SEN12R  PRES12R
county
001                1860    1872    2072     2629
003               32701   29750   19332    23783
005               57527   53535   16996    25065
009                5186    4684    3759     4831
011                1330    1240    1334     1768

In [27]:
df12.reset_index(level=0, inplace=True)

In [50]:
df14 = get_md_data(year = '2014')

In [51]:
list(filter(lambda x: "Hogan" in x, list(df14["Candidate Name"])))

['Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Suzanne Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan',
 'Larry Hogan']

In [52]:
df14 = df14.replace('#NULL#', 0)

In [53]:
df14['Early Votes'] = df14['Early Votes'].astype(int)
df14['Absentees Votes'] = df14['Absentees Votes'].astype(int)
df14['Provisional Votes'] = df14['Provisional Votes'].astype(int)
df14['2nd Absentees Votes'] = df14['2nd Absentees Votes'].astype(int)

In [54]:
df14 = df14[(df14['Candidate Name'].str.contains('Anthony G. Brown')|
        df14['Candidate Name'].str.contains('Larry Hogan')|
        df14['Candidate Name'].str.contains('Brian E. Frosh')|
        df14['Candidate Name'].str.contains('Jeffrey N. Pritzker')|
        df14['Candidate Name'].str.contains('Peter Franchot')|
        df14['Candidate Name'].str.contains('William H. Campbell'))]

In [55]:
df14['Unprecincted'] = (df14['Early Votes'] + df14['Absentees Votes'] + 
    df14['Provisional Votes'] + df14['2nd Absentees Votes'])

In [56]:
df14 = df14.pivot(index = 'county', columns = 'Candidate Name', values = 'Unprecincted')

In [57]:
df14.head()

Candidate Name,Anthony G. Brown,Brian E. Frosh,Jeffrey N. Pritzker,Larry Hogan,Peter Franchot,William H. Campbell
county,,,,,,
001,709,815,1250,1564,1237,1032
003,18076,22062,22937,28873,27406,19534
005,28785,36195,22660,32214,43546,17819
009,2093,2410,3110,3858,2689,3144
011,474,654,1025,1368,1038,779

In [58]:
cand_mapping14 = {
        'Anthony G. Brown' : 'GOV14D',
        'Larry Hogan' : 'GOV14R',
        'Brian E. Frosh' : 'AG14D',
        'Jeffrey N. Pritzker' : 'AG14R',
        'Peter Franchot' : 'COMP14D',
        'William H. Campbell' : 'COMP14R',
        }

In [59]:
df14 = df14.rename(columns = cand_mapping14)

In [60]:
df14.reset_index(level=0, inplace=True)

In [61]:
df14.head()

Candidate Name county  GOV14D  AG14D  AG14R  GOV14R  COMP14D  COMP14R
0                 001     709    815   1250    1564     1237     1032
1                 003   18076  22062  22937   28873    27406    19534
2                 005   28785  36195  22660   32214    43546    17819
3                 009    2093   2410   3110    3858     2689     3144
4                 011     474    654   1025    1368     1038      779

In [62]:
df16 = get_md_data(year = '2016')

In [68]:
list(filter(lambda x: "Szeliga" in x, list(df16["Candidate Name"])))

['Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga',
 'Kathy Szeliga']

In [64]:
df16 = df16.replace('#NULL#', 0)

In [65]:
df16['Early Votes'] = df16['Early Votes'].astype(int)

In [71]:
df16 = df16[df16['Candidate Name'].str.contains('Hillary Clinton')|
            df16['Candidate Name'].str.contains('Donald J. Trump')|
            df16['Candidate Name'].str.contains('Chris Van Hollen')|
            df16['Candidate Name'].str.contains('Kathy Szeliga')]

In [72]:
df16['Early Votes'] = df16['Early Votes'].astype(int)

In [73]:
df16['Unprecincted'] = (df16['Early Votes'] + df16['Absentees Votes'] + 
    df16['Provisional Votes'] + df16['2nd Absentees Votes'])

In [74]:
df16 = df16.pivot(index = 'county', columns = 'Candidate Name', values = 'Unprecincted')

In [75]:
df16.head()

Candidate Name,Chris Van Hollen,Donald J. Trump,Hillary Clinton,Kathy Szeliga
county,,,,
001,2641,3551,2493,3114
003,55192,36866,56152,38463
005,101360,47962,102276,48958
009,7047,7705,7263,7669
011,1702,2699,1486,2500

In [76]:
df16.reset_index(level=0, inplace=True)

In [78]:
cand_mapping16 = {
        'Chris Van Hollen' : 'SEN16D',
        'Kathy Szeliga': 'SEN16R',
        'Hillary Clinton': 'PRES16D',
        'Donald J. Trump': 'PRES16R',
        }

In [79]:
df16 = df16.rename(columns = cand_mapping16)

In [80]:
df16.head()

Candidate Name county  SEN16D  PRES16R  PRES16D  SEN16R
0                 001    2641     3551     2493    3114
1                 003   55192    36866    56152   38463
2                 005  101360    47962   102276   48958
3                 009    7047     7705     7263    7669
4                 011    1702     2699     1486    2500

In [81]:
df18 = get_md_data(year = '2018')

In [88]:
list(filter(lambda x: "Phukan" in x, list(df18["Candidate Name"])))

['Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan',
 'Anjali Reed Phukan']

In [89]:
df18 = df18[df18['Candidate Name'].str.contains('Ben Jealous')|
        df18['Candidate Name'].str.contains('Larry Hogan')|
        df18['Candidate Name'].str.contains('Ben Cardin')|
        df18['Candidate Name'].str.contains('Tony Campbell')|
        df18['Candidate Name'].str.contains('Brian E. Frosh')|
        df18['Candidate Name'].str.contains('Craig Wolf')|
        df18['Candidate Name'].str.contains('Peter Franchot')|
        df18['Candidate Name'].str.contains('Anjali Reed Phukan')]

In [90]:
df18['Unprecincted'] = (df18['Early Votes'] + df18['Absentees Votes'] + 
    df18['Provisional Votes'] + df18['2nd Absentees Votes'])

In [91]:
df18 = df18.pivot(index = 'county', columns = 'Candidate Name', values = 'Unprecincted')

In [92]:
# cand_mapping18 = {
#         'Ben Jealous' : 'GOV18PD_BJEALOUS',
#         'Jim Shea' : 'GOV18PD_JSHEA',
#         "Krish O'Mara Vignarajah" : 'GOV18PD_KVIGNARAJAH',
#         'Rich Madaleno' : 'GOV18PD_RMADALENO',
#         'Rushern L. Baker, III' : 'GOV18PD_RBAKER',
#         }
cand_mapping18 = {
    "Ben Jealous": "GOV18D",
    "Larry Hogan": "GOV18R",
    "Ben Cardin": "SEN18D",
    "Tony Campbell": "SEN18R",
    "Brian E. Frosh": "AG18D",
    "Craig Wolf": "AG18R",
    "Peter Franchot": "COMP18D",
    "Anjali Reed Phukan": "COMP18R"
}

In [93]:
df18 = df18.rename(columns = cand_mapping18)

In [94]:
df18.reset_index(level=0, inplace=True)

In [95]:
df18.head()

Candidate Name,county,COMP18R,SEN18D,GOV18D,AG18D,AG18R,GOV18R,COMP18D,SEN18R
0,001,1585,2332,1296,2082,2448,3231,2836,2073
1,003,24760,51398,29902,51245,32891,53766,58150,29002
2,005,26209,80277,50465,79746,40901,69162,91940,33614
3,009,4196,5708,3248,5575,5227,7687,6416,4822
4,011,1214,1422,619,1336,2092,2867,2190,1823

In [18]:
df18.to_csv("GOV18.csv")

In [103]:
joined = pd.merge(df12, df14, on = 'county')
joined = pd.merge(joined, df16, on = 'county')
joined = pd.merge(joined, df18, on = 'county')

In [98]:
df12.columns

Index(['county', 'PRES12D', 'SEN12D', 'SEN12R', 'PRES12R'], dtype='object', name='Candidate Name')

In [99]:
df14.columns

Index(['county', 'GOV14D', 'AG14D', 'AG14R', 'GOV14R', 'COMP14D', 'COMP14R'], dtype='object', name='Candidate Name')

In [100]:
df16.columns

Index(['county', 'SEN16D', 'PRES16R', 'PRES16D', 'SEN16R'], dtype='object', name='Candidate Name')

In [101]:
df18.columns

Index(['county', 'COMP18R', 'SEN18D', 'GOV18D', 'AG18D', 'AG18R', 'GOV18R',
       'COMP18D', 'SEN18R'],
      dtype='object', name='Candidate Name')

In [104]:
joined.columns

Index(['county', 'PRES12D', 'SEN12D', 'SEN12R', 'PRES12R', 'GOV14D', 'AG14D',
       'AG14R', 'GOV14R', 'COMP14D', 'COMP14R', 'SEN16D', 'PRES16R', 'PRES16D',
       'SEN16R', 'COMP18R', 'SEN18D', 'GOV18D', 'AG18D', 'AG18R', 'GOV18R',
       'COMP18D', 'SEN18R'],
      dtype='object', name='Candidate Name')

In [105]:
joined.head()

Candidate Name,county,PRES12D,SEN12D,SEN12R,PRES12R,GOV14D,AG14D,AG14R,GOV14R,COMP14D,...,PRES16D,SEN16R,COMP18R,SEN18D,GOV18D,AG18D,AG18R,GOV18R,COMP18D,SEN18R
0,001,1860,1872,2072,2629,709,815,1250,1564,1237,...,2493,3114,1585,2332,1296,2082,2448,3231,2836,2073
1,003,32701,29750,19332,23783,18076,22062,22937,28873,27406,...,56152,38463,24760,51398,29902,51245,32891,53766,58150,29002
2,005,57527,53535,16996,25065,28785,36195,22660,32214,43546,...,102276,48958,26209,80277,50465,79746,40901,69162,91940,33614
3,009,5186,4684,3759,4831,2093,2410,3110,3858,2689,...,7263,7669,4196,5708,3248,5575,5227,7687,6416,4822
4,011,1330,1240,1334,1768,474,654,1025,1368,1038,...,1486,2500,1214,1422,619,1336,2092,2867,2190,1823

In [106]:
joined.to_csv('MD_abs_by_county.csv')

In [112]:
df16[["PRES16R", "PRES16D"]]

Candidate Name  PRES16R  PRES16D
0                  3551     2493
1                 36866    56152
2                 47962   102276
3                  7705     7263
4                  2699     1486
5                 14050     9362
6                  7688     5005
7                  8100    21950
8                  2248     2401
9                 14184    22052
10                 2990     1187
11                27573    21722
12                16125    51537
13                 1504     2371
14                32593   180158
15                12903   175338
16                 7240     4367
17                 8837     6973
18                 1576     1915
19                 4991     5238
20                 8614     6796
21                 6488     7284
22                 5534     3817
23                 6591    81626

In [111]:
df16[["PRES16R", "PRES16D"]].sum().sum()

1069381